<form class="edit-form" method="post" action="/memos/<%= @memo['id'] %>">
  <input type="text" name="title" value="<%= html_escape(@memo['title']) %>">
  <textarea name="content"><%= html_escape(@memo['content']) %></textarea>
  <input type="hidden" name="_method" value="patch">
  <input class="button" type="submit" value="保存">
</form>
