<form class="edit-form" method="post" action="/memos/<%= @id %>">
  <input type="text" name="title" value="<%= @title %>">
  <textarea name="content"><%= @content %></textarea>
  <input type="hidden" name="_method" value="patch">
  <input class="button" type="submit" value="保存">
</form>
