<ul>
  <% unless @memos.nil? %>
    <% @memos.each do |id, user_input| %>
      <li><a class="memo_link" href="/memos/<%= id %>"><%= html_escape(user_input["title"]) %></a></li>
    <% end %>
  <% end %>
</ul>
<form class="add-form" method="get" action="/memos/new">
  <input class="button" type="submit" value="追加">
</form>
