<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>simple memo app</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1 class="logo"><a class="logo_link" href="/">MEMO</a></h1>
    <div class="main">
      <%= yield %>
    </div>
  </body>
</html>
